@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wr77am');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wr77am#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wr77am') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wr77am') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wr77am##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-date {
  &:before {
    content: $icon-date; 
  }
}
.icon-schedule {
  &:before {
    content: $icon-schedule; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-day {
  &:before {
    content: $icon-day; 
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-youtube2 {
  &:before {
    content: $icon-youtube2; 
  }
}
.icon-linkedin2 {
  &:before {
    content: $icon-linkedin2; 
  }
}
.icon-angle-double-right {
  &:before {
    content: $icon-angle-double-right; 
  }
}
.icon-angle-double-left {
  &:before {
    content: $icon-angle-double-left; 
  }
}
.icon-icon-search {
  &:before {
    content: $icon-icon-search; 
  }
}
.icon-mail-envelope-closed2 {
  &:before {
    content: $icon-mail-envelope-closed2; 
  }
}
.icon-mail-envelope-closed {
  &:before {
    content: $icon-mail-envelope-closed; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-arrow_drop_down {
  &:before {
    content: $icon-arrow_drop_down; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}

