$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cart: "\e909";
$icon-location: "\e908";
$icon-arrow-right: "\e906";
$icon-calendar: "\e900";
$icon-date: "\e900";
$icon-schedule: "\e900";
$icon-time: "\e900";
$icon-day: "\e900";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-instagram: "\ea93";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9e";
$icon-youtube2: "\ea9f";
$icon-linkedin2: "\eaca";
$icon-angle-double-right: "\e903";
$icon-angle-double-left: "\e904";
$icon-icon-search: "\e905";
$icon-mail-envelope-closed2: "\e902";
$icon-mail-envelope-closed: "\e901";
$icon-close: "\e91f";
$icon-menu: "\e920";
$icon-arrow_drop_down: "\e907";
$icon-chevron-right: "\e90a";
$icon-chevron-left: "\e90b";
$icon-chevron-down: "\e90c";

