<section class="mod-radio module">

  <div class="container">
    <h2>Radio</h2>
    <fieldset>
      <legend class="mb-5">Choose a radio:</legend>
      {% for i in [1, 2, 3, 4]%}
      <div class="radio-group relative mb-5">
        <input class="cursor-pointer absolute top-0 left-0 opacity-0" id="overnight-{{loop.index}}" type="radio" name="shipping" value="overnight-{{loop.index}}" {%if loop.index == 1 %} checked {%endif%}>
        <span
          class="form-mask radio-style rounded-full bg-primary-100 w-10 h-10 inline-block absolute top-0 left-0 pointer-events-none"><span
            class="radio-tick w-6 h-6 rounded-full bg-white inline-block absolute left-2 top-2 opacity-0"></span></span>
        <label for="overnight-{{loop.index}}" class="cursor-pointer pl-15">This is radio {{loop.index}}</label><br>
      </div>
      {% endfor%}
    </fieldset>
  </div>
</section>