.mod-10-milion {
  .container {
    .main {
      .content {
        h2 {
          //styleName: Heading/H2: Bold - Mobile;
          font-family: Plus Jakarta Sans;
          font-size: 30px;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: center;
          @media (min-width: 768px) {
            //styleName: Heading/H2: Bold - Medium;
            font-size: 32px;
            line-height: 45px;
            width: 450px;
         }
         @media (min-width: 1280px) {
          //styleName: Heading/H2: Bold - Medium;
          width: 719px;

         }
        }        
      }
      .sym-icon{
        margin-top: 10px;
      }
      .four-symboilize {
        .sysm-above,
        .sysm-bellow {
          @apply flex flex-col gap-20 md:flex-row md:gap-0 px-30 md:px-30 xl:px-0 w-full;
          .sysm {
            @apply flex flex-col gap-10 items-center w-full md:w-150 xl:w-123;
            .sym-content {
              p {
                font-family: Plus Jakarta Sans;
                font-size: 18px;
                font-weight: 500;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: center;
                width: 200px;
                margin-top: 20px;
                @media (min-width: 768px) {
                  width: 250px;
      
               }
                @media (min-width: 1280px) {
                  width: 245px;
               }
              }
            }
          }
        }
      }
    }
  }
}