.mod-scary-mommy{
    h4 {
        //styleName: H4 / 24px / Medium;
        font-family: Plus Jakarta Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
        color: #1D2020;
        @media (min-width: 768px) {
            //styleName: Heading/H4: Medium - Medium;
            font-size: 20px;
            line-height: 32px;

        }
    }
    .content-logo{
        margin-top: 30px;
        @media (min-width: 768px) {
            margin-top:10px;
        }
    }
}