.mod-scary{
    h4 {
        //styleName: H4 / 24px / Medium;
        font-family: Plus Jakarta Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;

    }
}