.mod-meet-the-quest {
  .title > h3 {
    @apply text-primary-1000 w-[300px]
    md:w-[600px]
    2xl:w-[661px];
  }
  h5 {
    @apply text-primary-1000 mt-[20px]
    md:leading-[25px]
    2xl:text-[20px];
    
  }
  .box2{
    margin-top: 48px;
    @media (min-width: 768px) {
      margin-top: 0px;
    }
  }
  .item-content-content p {
    @apply text-gray-300 mt-[10px] leading-[24px] w-[300px]
    xl:w-[400px]
    2xl:w-[550px];
  }
  a > p {
    @apply text-[14px] leading-[18px] font-bold mt-[27px]
    md:mt-[12px];
  }
  .arrow{
    margin-top:27px;
    @media (min-width: 768px) {
      margin-top: 12px;
      
    }
  }
  .item-image > img {
    @apply w-full object-cover max-h-115 min-h-115
      md:min-h-125 md:max-h-125 xl:max-h-225 xl:min-h-225;
  }
}