.mod-connect {
 p {
  //styleName: Link: Bold;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #043673;

  @media (min-width: 1280px) {
    //styleName: Link: Bold;
    font-size: 14px;
    line-height: 18px;

  }
 } 

 h3 {
  @apply text-primary-1000 m-0;
 }
.part-img1 {
  overflow: hidden;
}
.part-img1 img {
   transition: 0.5s all ease-in-out;
        }
.part-img1:hover img {
            transform: scale(1.5);
}
      
 .images-items {
    @apply flex justify-center items-center gap-5 w-full h-30p;
 }

 .part-img {
   @apply w-1/4 h-full;
 }

 img {
   @apply w-full;
 }

 .images {
   translate: -40px;
   @media (min-width: 768px) {
      translate: 0px;
   }
 }
}