.mod-10-milion {
  .container {
    .main-content {
      .content {
        h2 {
        @apply text-blue-800 text-center
        md:text-[32px] md:leading-[45px] md:w-225
        xl:w-360
        2xl:text-[48px] 2xl:leading-[60px] 2xl:w-600 2xl:pt-31;
        
        }        
      }
      .sym-icon{
        margin-top: 10px;
      }
      .icons {
        .icons-first,
        .icons-second {
          @apply flex flex-col gap-20 md:flex-row md:gap-0 px-30 md:px-30 xl:px-0 w-full;
          .icon-part {
            @apply flex flex-col gap-10 items-center w-full md:w-150 xl:w-123 2xl:w-161;
            .icon-content {
              p {
                @apply text-blue-800 text-[18px] font-medium text-center text-blue-800 w-90 mt-10
                md:w-110
                xl:w-110
                2xl:w-150;
             }
              }
            }
          }
        }
      }
    }
  }
