.mod-adjust {
  h1 {
    //styleName: Heading/H1: Bold- Mobile;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    @media (min-width: 768px) {
      //styleName: Heading/H1:Bold - Medium;
      font-size: 42px;
      line-height: 53px;
      margin-top: 10px;

   }
   @media (min-width: 1280px) {
    //styleName: Heading/H1:Bold - Medium;
    font-size: 42px;
    line-height: 53px;
    width: 700px;
   }
   @media (min-width: 1920px) {
    font-size: 72px;
    line-height: 91px;


   }
  }

  p {
    //styleName: Heading/H5: Medium - Mobile;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #646464;
    @media (min-width: 768px) {
      //styleName: Heading/H5: Medium - Medium;
      font-size: 18px;
      line-height: 29px;
      width: 550px;
    }

   @media (min-width: 1280px) {
    //styleName: Heading/H5: Medium - Medium;
    //styleName: Heading/H5: Medium - Medium;
    width: 354px;
    }
    @media (min-width: 1920px) {
      //styleName: Heading/H5: Medium - Medium;
      font-size: 18px;
      line-height: 29px;
      width: 600px;
    }
  }

}