.mod-adjust {
  h1 {
    //styleName: Heading/H1: Bold- Mobile;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

  }

  p {
    //styleName: Heading/H5: Medium - Mobile;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #646464;


  }

  .btn-play > span {
    
  }
}