---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/mod-content-1.html' %}
    
</main>
    
    {% include 'modules/mod-content.html' %}
    {% include 'modules/mod-content-2.html' %}
    {% include 'modules/mod-content-3.html' %}
    {% include 'modules/mod-content-4.html' %}
    {% include 'modules/mod-content-5.html' %}
    {% include 'modules/mod-content-slick.html' %}
    {% include 'modules/mod-grid.html' %}
    {% include 'modules/mod-dropdown.html' %}
    {% include 'modules/mod-footer.html' %}

    
{% endblock %}
