---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-85">
  <!-- {% include 'modules/mod-banner-internal.html' %} -->
  <!-- {% include 'modules/mod-hello-world.html' %} -->

  {% include 'modules/mod-adjust.html' %}
  {% include 'modules/mod-10-milion.html' %}
  {% include 'modules/mod-turn-your-bedroom.html' %}
  {% include 'modules/mod-meet-the-quest.html' %}
  {% include 'modules/mod-testimonials.html' %}
  {% include 'modules/mod-scary-mommy.html' %}
  {% include 'modules/mod-the-latest.html' %}
  {% include 'modules/mod-connect.html' %}
</main>

{% endblock %}