@layer base {
  body {
    @apply text-base text-black xl:text-lg font-sans;
  }
  html {
    @apply m-0;
  }
  html,
  body{
    @apply overflow-x-hidden bg-white;
  }
  h1,
  .h1 {
    @apply font-jakarta text-[36px] font-bold leading-[45px] tracking-tight text-left text-blue-300
           md:text-[42px] md:leading-[53px]
           2xl:text-[72px] 2xl:leading-[91px];
           //styleName: Heading/H1: Bold- Mobile;
  }

  h2,
  .h2 {
    @apply font-jakarta text-[30px] font-bold leading-[42px] tracking-tight text-left text-blue-300
    md:text-[32px] md:leading-[45px]
    2xl:text-[48px] 2xl:leading-[60px];
  }

  h3,
  .h3 {
    @apply font-jakarta text-[26px] font-medium leading-[36px] tracking-tight text-left text-blue-300
    md:text-[24px] md:leading-[38px]
    2xl:text-[36px] 2xl:leading-[45px];
  }

  h4,
  .h4 {
    @apply font-jakarta text-[22px] font-medium leading-[35px] tracking-tight text-left text-blue-300
           md:text-[20px] md:leading-[32px]
           2xl:text-[25px] 2xl:leading-[40px];
  }

  h5,
  .h5 {
    @apply font-jakarta text-[20px] font-bold leading-[32px] tracking-tight text-left
    md:text-[18px] md:leading-[25px]
    2xl:text-[20px] 2xl:leading-[32px];
  }

  h6,
  .h6 {
    @apply text-h5 font-medium;
  }
  p {
    @apply font-jakarta text-[16px] font-normal leading-[29px] tracking-tight text-left text-blue-300;
  }
  small {
    @apply text-sm;
  }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6{
  //   @apply mb-8;
  // }

  // p,
  // li,
  // ol,
  // ul,
  // blockquote,
  // figure{
  //   margin: 0 0 15px;
  // }

  ol,
  ul{
    @apply block pl-20;
  }

  ol{
    @apply list-decimal;
  }

  ul{
    @apply list-disc;
  }
}

a {
  &:-webkit-any-link:focus-visible {
    outline-offset: 3px;
  }
  &:hover {
    @apply text-primary-200;
  }
}

button{
  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 3px;
  }
}
a, button{
  transition: .25s color, .25s background-color, .25s border;
  &.mouse{
    outline: none !important;
  }
}

table{
  th, td{
    @apply border p-2 border-primary-200;
  }
  th {
    @apply font-bold;
  }
}

@layer utilities {
  .left-none { left: unset; }
  .right-none { right: unset; }
  .top-none { top: unset; }
  .bottom-none { bottom: unset; }
}

input::placeholder {
  color: #ccc;
}