@layer base {
  body {
    @apply text-base text-black xl:text-lg font-sans;
  }
  html {
    @apply m-0;
  }
  html,
  body{
    @apply overflow-x-hidden bg-white;
  }
  h1,
  .h1 {
    @apply font-bold text-18 md:text-21 2xl:text-36;
  }

  h2,
  .h2 {
    @apply font-bold text-15 md:text-16 2xl:text-24;
  }

  h3,
  .h3 {
    @apply font-medium text-13 md:text-12 2xl:text-18;
  }

  h4,
  .h4 {
    @apply font-medium text-11 md:text-10 2xl:text-12.5;
  }

  h5,
  .h5 {
    @apply font-bold text-10 md:text-9 2xl:text-10;
  }

  h6,
  .h6 {
    @apply text-h5 font-medium;
  }
  p {
    @apply font-normal text-8;
  }
  small {
    @apply text-sm;
  }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6{
  //   @apply mb-8;
  // }

  // p,
  // li,
  // ol,
  // ul,
  // blockquote,
  // figure{
  //   margin: 0 0 15px;
  // }

  ol,
  ul{
    @apply block pl-20;
  }

  ol{
    @apply list-decimal;
  }

  ul{
    @apply list-disc;
  }
}

a {
  &:-webkit-any-link:focus-visible {
    outline-offset: 3px;
  }
  &:hover {
    @apply text-primary-200;
  }
}

button{
  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 3px;
  }
}
a, button{
  transition: .25s color, .25s background-color, .25s border;
  &.mouse{
    outline: none !important;
  }
}

table{
  th, td{
    @apply border p-2 border-primary-200;
  }
  th {
    @apply font-bold;
  }
}

@layer utilities {
  .left-none { left: unset; }
  .right-none { right: unset; }
  .top-none { top: unset; }
  .bottom-none { bottom: unset; }
}

input::placeholder {
  color: #ccc;
}